.row label {
  padding: 3px 12px 3px 4px;
  display: inline-block;
  color:#0059B3;/* #00008B; */
  font-weight:bold;
  font-size: 11px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}
label.right-label {
  padding: 3px 12px 3px 24px;
}

/*input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}*/
.tboxclass{
  box-sizing: border-box;
  width: 100%;
  padding: 6px 8px;
  border-radius: 4px !important;
  resize: vertical;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  background:#FAFDFE;
  border:1px solid #89CEF9;
  font-size:13px;
  color:#001BC6;
}
.tboxsmclass{
  box-sizing: border-box;
  width: 100%;
  padding: 3px 2px;
  border-radius: 2px !important;
  resize: vertical;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  background:#FAFDFE;
  border:1px solid #89CEF9;
  font-size:12px;
  color:#001BC6;
  @include placeholder {
     font-family: 'FontAwesome', $gotham;
  }
}
.tboxs2mclass{
  box-sizing: border-box;
  width: 87%;
  padding: 3px 2px;
  border-radius: 2px !important;
  resize: vertical;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  background:#FAFDFE;
  border:1px solid #89CEF9;
  font-size:10px;
  color:#001BC6;
  font-weight:bold;
  @include placeholder {
     font-family: 'FontAwesome', $gotham;
  }
}
.sboxsmclass{
  box-sizing: border-box;
  width: 96%;
  padding: 0px 2px;
  border-radius: 2px !important;
  resize: vertical;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  background:#FAFDFE;
  border:1px solid #89CEF9;
  font-size:12px;
  color:#001BC6;
  height:20px;
}
/*input[type=submit]:hover {
  background-color: #45a049;
}*/

.container {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.div1{ width:8.3333333%;float: left; margin-top: 12px; } .div2{ width:16.666666%;float: left; margin-top: 12px; } .div3{ width:25%;float: left; margin-top: 12px; } .div4{ width:33.3333333%;float: left;margin-top: 12px; } .div5{ width:41.666666%;float: left;margin-top: 12px; } .div6{ width:50%;float: left;margin-top: 12px; }
.div7{ width:58.3333333%;float: left; margin-top: 12px; } .div8{ width:66.666666%;float: left; margin-top: 12px; } .div9{ width:75%;float: left; margin-top: 12px; } .div10{ width:83.3333333%;float: left;margin-top: 12px; } .div11{ width:91.666666%;float: left;margin-top: 12px; } .div12{ width:100%;float: left;margin-top: 12px; }
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.zone-row{
	display:none;
}
.divhead{
	padding:2px 5px;
	border:1px solid #10478A;
	border-bottom:none;
	border-radius: 8px 8px 0px 0px;
	background:#10478A;
	color:#FFFFFF;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:600;
}
.innerdiv{
	border:1px solid #D2D3D4; 
	padding:10px;
	position: relative;
	background: #fff;
	display: inline-block;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
	width: 100%;
	border: 1px solid #e3e3f7;

}
.boxdiv{
	border:1px solid #C1CACF;
	padding:5px 3px;
	margin-top:10px;
	border-radius:5px;
	color:#666666;
	cursor:pointer
}
.boxdiv label{
	color:#1674A9;
	font-size:11px;
	padding:0px;
	line-height:18px;
	cursor:pointer
	/*text-align:justify;*/
}
.boxdiv label:hover, .boxdiv:hover{
	background:#E2E5E5;
}
.no-margin{
	margin-top:0px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
  }
}
.innerdiv2{
	padding:3px;
}
.no-mar-top{
	margin-top:0px !important;
}
.one-mar-top{
	margin-top:1px !important;
}
.boxdiv1{
	border:1px solid #C1CACF;
	padding:5px 7px;
	margin-top:10px;
	border-radius:5px;
	color:#666666;
}
.boxdiv1 label{
	color:#1674A9;
	font-size:11px;
	padding:0px;
	line-height:18px;
	/*text-align:justify;*/
}
.boxtitle{
	background-color:#E2E4E8;
	color:#0058B0;
}
.boxlabel{
	color:#0058B0;
}
.disable{
	background-color:#E0E2E4;
	/*border:1px solid #BEBFBF;*/
}
.hide{
	display:none;
}
.lboxlabel{
	color:#00008B;
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
.lboxlabel2{
	color:#00008B;
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-left:2px;
}
.rboxlabel{
	color:#00008B;
	text-align:right;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
.cboxlabel{
	color:#00008B;/*#0058B0;*/
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
.div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9,.div10,.div11,.div12{
	margin-top: 0px;
	box-sizing: border-box;
}
.users-icon-part{
	height:6px;
}
.clearrow{
	padding:6px;
	clear: left;
}
.itemtable, .itemtable tr, .itemtable th, .itemtable td{
	border:1px solid #D2D3D4;
	font-size:12px;
	border-collapse:collapse;
}
.itemtable th{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#2769AC;
	padding:7px 2px;
	vertical-align:middle;
	background:#F0F1F1;
	border:1px solid #CACACA;
	text-align:center;
}


.tboxsmclass::-webkit-input-placeholder { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	padding-left: 5px;
	padding-top: 2px;
	color: #B6B6B7;
}

.tboxsmclass::-moz-placeholder  { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	padding-left: 5px;
	padding-top: 2px;
	color: #B6B6B7;
}

.tboxsmclass:-ms-input-placeholder  { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	padding-left: 5px;
	padding-top: 2px;
	color: #B6B6B7;
}
.faicon-add{
	color:#2271C6;
	cursor:pointer;
}
.faicon-add:hover{
	color:#044F9F;
	
}
.faicon-clr{
	color:#DC562B;
	cursor:pointer;
}
.faicon-clr:hover{
	color:#A02F0B;
}
.faicon-del{
	color:#DE284B;
	cursor:pointer;
}
.faicon-del:hover{;
	color:#AC0122;
}
.rtext{ text-align:right; }
.ltext{ text-align:left; }
.ctext{ text-align:center; }
.add-ded .clearrow{
	padding:0px !important;
	height: 3px;
}
.add-ded .lboxlabel{
	line-height:18px;
}
.add-ded hr{
	color:#FFFFFF;
	border: 0px solid #F0F1F2;
}
.head-b{
	background:#02569B;
	border-color:#02569B;
}
.head-p{
	background:#F14769;
	border-color:#F14769;
}
.head-g{
	background:#08B7D6;
	border-color:#03B2AF;
}
.color-1{
	color:#B80136;
}
.modal-title{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
#myModal .modal-header{
	padding: 9px 15px 9px 15px;
}
#myModal .modal-body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#072FEB;
	font-weight:bold;
	padding: 5px 10px 10px 10px;
}
#myModal .btn{
	font-size:12px;
	font-weight:bold;
}
#myModal textarea{
	padding: 2px 4px;
}
#myModal .sboxsmclass{
	padding: 2px 4px;
	height:25px;
}
.titlebox{
	padding:2px 4px;
	border:1px solid #072FEB;
	color:#B80136;
}
.ModalCalcRow{
	margin-bottom:3px;
}
.ModalCalcRow .color-1{
	border:1px solid #DBDEE0;
	box-sizing: border-box;
	background:#F2F4F5;
	color:#085090;
}
.ModalCalcRow .sboxsmclass{
	width:99%;
}
.phold::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #C9CACA;
	font-size:11px;
}
.phold:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #C9CACA;
    opacity: 1;
	font-size:11px;
}
.phold::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #C0C1C1;
    opacity: 1;
	font-size:11px;
}
.phold:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #C0C1C1;
	font-size:11px;
}
.dstable{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	background:#FFFFFF;
	color:#085090;
}
.dstable, .dstable tr, .dstable th, .dstable td{
	border:1px solid #DBDEE0;
	border-collapse:collapse;
	padding:3px 6px 3px 4px;
}
.ds-thcell{
	background:#F2F4F5;
	vertical-align:middle;
	line-height:16px;
	color:#043A74;
}
.div-tdcell{
	background:#FFFFFF;
	vertical-align:middle;
	line-height:16px;
}
.div-tdcellb{
	color:#043A74;
}
.color-2{
	color:#082AD3 !important;
}
.div-tdcell-div{
	padding:5px 0px 0px 0px;
}
a.btn {
	border-radius: 4px;
	color:#fff;
	background-color:#077CD3;
	border-color:#077CD3;
	font-size: 12px;
	font-weight: bold;
	padding:4px 14px 4px 14px;
}
a.btn:hover{
	background-color:#02497E;
	border-color:#02497E;
}
.divtbox{
  box-sizing: border-box;
  width: 100%;
  padding: 2px 2px;
  border-radius: 2px !important;
  resize: vertical;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  background:#FAFDFE;
  border:1px solid #89CEF9;
  font-size:12px;
  color:#001BC6;
  height:25px;
}
.divtarea{
  box-sizing: border-box;
  width: 100%;
  padding: 2px 2px;
  border-radius: 2px !important;
  resize: vertical;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  background:#FAFDFE;
  border:1px solid #89CEF9;
  font-size:12px;
  color:#001BC6;
}
.inst-box{
	border:1px solid #D8DADE;
	min-height:1px;
	font-size:11px;
	margin-bottom:7px;
	text-align:left;
	color:#0066FF;
	cursor:pointer;
}
.inst-box a{
	color:#0066FF;
}
.pad2{
	padding:2px;
}
.lht1{
	line-height:18px;
}
.inst-link{
	border:2px solid #C20E42;
	padding:3px;
	border-radius:10px;
	font-weight:bold;
	color:#0B2CD1;
	white-space:nowrap
}
.inst-link:hover, .inst-link a:hover{
	border:2px solid #C20E42;
	background:#C20E42;
	color:#fff;
}
.ficon{
	font-size:30px; 
	padding:12px 2px 3px 18px;
	color:#BBBDBD;
}
.trackbox-1{
	background:#077AD5;
	color:#fff;
	border:1px solid #077AD5;
}
.trackbox-2{
	background:#E24C90;
	color:#fff;
	border:1px solid #E24C90;
}
.trackbox-3{
	background:#02ADCF;
	color:#fff;
	border:1px solid #02ADCF;
}
.trackbox-4{
	background:#8D4AAA;
	color:#fff;
	border:1px solid #8D4AAA;
}
.rspan-pink{
	border:1px solid #D6D8DA;
	padding:5px 8px;
	border-radius:15px;
	color:#0348C1;
	font-size:12px;
	font-weight:500;
	display:inline-block;
	width:100%;
	box-sizing: border-box;
}
.htext1{
	font-style:italic;
	color:#DB054C;
}
.htext2{
	font-style:italic;
	color:#DB054C;
}
.madd-btn{
	background:#046FF0 !important;
	border:1px solid #046FF0 !important;
	color:#fff;
	font-family:verdana;
	font-size:11px !important;
	padding:5px 10px !important;
	border-radius:15px;
	cursor:pointer;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
}
.madd-btn:hover{
	background:#02489C !important;
	border:1px solid #02489C !important;
}
.mdel-btn{
	background:#E32863;
	border:1px solid #E32863;
	color:#fff;
	font-family:verdana;
	font-size:11px;
	padding:3px 8px;
	border-radius:15px;
	cursor:pointer;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	font-weight:bold;
}
.mdel-btn:hover{
	background:#AD0238;
	border:1px solid #AD0238;
	color:#fff !important;
}
.mdload-btn{
	background:#FFF;
	border:1px solid #FF0555;
	color:#244DCB;
	font-family:verdana;
	font-size:9px;
	padding:3px 8px;
	border-radius:15px;
	cursor:pointer;
	/*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
	font-weight:bold;
	margin:3px 0px;
}
.mdload-btn:hover{
	background:#FF0555;
	border:1px solid #FF0555;
	color:#fff !important;
}
.MaddTable > thead > tr > th{
	background:#0286CD;
	color:#fff;
	padding: 3px 4px;
	border:1px solid #0372AD;
}
.MaddTable > tbody > tr > td{
	padding:2px 4px;
	border:1px solid #D6D8DA;
	font-size: 11px;
}
.divempty{
	height:13px;
}
.GridContainer{
padding:5px;
box-sizing:border-box;
}
a.mheadmenu{
	font-size:13px;
	color:#fff;
}
.mheadmenu > i, .mheadmenu > span{
	padding:4px;
}
.mheadmenu{
	border:1px solid #fff;
	padding:4px;
}
.mheadmenu2{
	border:none;
	padding:4px;
}
a.mheadmenu2{
	font-size:13px;
	color:#fff;
}
.mheadmenu2 > i, .mheadmenu2 > span{
	padding:4px;
}
.box-container .card {
  position: relative;
  margin: 6px;
}
.face-static {
  position: relative;
  background: #fff;
  display: inline-block;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 1px solid #e3e3f7;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}
.inkblue-card {
  background: #10478A;
  color: #ffffff;
  letter-spacing: 0px !important;
  font-size: 13px;
  font-weight: 600;
  padding: 2px 2px 2px 5px;
}
.pt-2 {
  padding-top: 2px !important;
}
.divrowbox {
  padding: 10px 15px;
    padding-top: 10px;
  box-sizing: border-box;
  min-height: 10px;
  display: inline-block;
  width: 100%;
}
.mbtn0{
	border: 1px solid #fff !important;
	background:none !important;
	border-radius:5px;
}
.mbtn0:hover, .mbtn0:hover i{
	background:#fff !important;
	color:#10478A !important;
}
.mbtn1{
	border: 1px solid #ED397A;
	background: #ED397A;
	border-radius:5px;
}
.mbtn2{
	border: 1px solid #06C9E0;
	background: #06C9E0;
	border-radius:5px;
}
.mbtn3{
	border: 1px solid #FDD145;
	background: #FDD145;
	border-radius:5px;
}
.mbtn4{
	border: 1px solid #8064D9;
	background: #8064D9;
	border-radius:5px;
}
.errlabel{
	font-size:11px; 
	font-weight:500;
	color:red;
}
.dynamicboxlg{
 	border:1px solid #3D6CBE !important;
	padding:4px 4px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:100% !important;
	border-radius:8px !important;
	font-size:11px;
	background-color: #fff;
 }
 .efont{
 	color:#E51369;
 }
 .smefont{
 	color:#7917C1;
	font-size:11px;
	line-height:14px;
 }
 .dynamicTable table, 
 .dynamicTable td, 
 .dynamicTable th{
 	border:1px solid #9FABB3;
	border-collapse:collapse;
	font-weight:600;
	font-size:11px;
 }
 .dynamicTable th{
	padding:5px 3px 5px 3px;
	background:#EBEEF1;
 }
.dynamicTable td{
	padding:2px 2px 2px 2px;
 }
 .sqadd{
 	color:#03B588;
 }
 .sqadd:hover{
 	color:#036C52;
 }
 .sqdel{
 	color:#EA2B71;
 }
 .sqdel:hover{
 	color:#BE0636;
 }
 .disable{
 	background:#EDF0F6;
 }
 .active-tr{
 	background:#48D1BE !important;
 }
 .pd-lr-1{
	padding-left:1px !important;
	padding-right:1px !important;
 }
 .ptr{
 	cursor:pointer;
 }
 
 .DispSelectBox{
	border:1px solid #0195D5;
	font-size:11px;
	padding:4px 4px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:100%;
	margin-top:2px;
	margin-bottom:2px;
	color:#03447E;
	font-weight:600;
	box-sizing: border-box;
	background:#ffffff;
}
.DispTable{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.DispTable th, .DispTable td{
	border:1px solid #BCBEBF;
	border-collapse:collapse;
	padding:2px 3px;
}
.DispTable th{
	background-color:#035a85;
	color:#fff;
	vertical-align:middle;
	text-align:center;
}
.DispTable td{
	color:#062C73;
	line-height:18px;
}
.HideDesc{
	max-width : 868px; 
	white-space : nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}
.DTable{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.DTable th, .DTable td{
	border:1px solid #BCBEBF;
	border-collapse:collapse;
	padding:3px 3px;
}
.DTable th{
	background-color:#035a85;
	color:#fff;
	vertical-align:middle;
	text-align:center;
}
.DTable td{
	color:#062C73;
	line-height:18px;
}
.ActBtn{
	border-radius: 4px;
	color: #fff;
	background-color: #077CD3;
	border-color: #077CD3;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 14px 4px 14px;
	border: 1px solid #077CD3;
	cursor: pointer;
	display:block;
}
.ActBtn:hover{
	background-color: #077CD3;
	border-color: #077CD3;	
	border: 1px solid #077CD3;
}