.ip-input-container{
  display: inline-block;
  font-size: 0;
  border: 1px solid #ccc;
  padding: 6px 0;
  border-radius:5px;
}
.ip-input-container .ip-input-item{
  border: none;
  outline: 0;
  margin: 0;
  width: 60px;
  text-align: center;
  vertical-align: bottom;
  font-size: 13px;
  color:#1844C4;
  font-weight: 600;;
}
.ip-input-container .ip-input-dot{
  display: inline-block;
  width: 2px;
  height: 2px;
  margin-bottom: 2px;
  background-color: #333;
  border-radius: 50%;
  vertical-align: bottom;
}
.ipCell{
  width:260px;
  text-align: center;
}