@charset "utf-8";





div.main{
    background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    /*margin:0px auto;*/

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
    color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 40%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
	width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #1B5177;
  padding: 13px 22px;
  width: 59%;
}
.logo{
  color:#fff;
  font-size:50px;
  line-height: 125px;
  padding-top:33px;
}
.logo img{
  border-radius:78px;
  border-color:#FFFFFF;
  border:1px solid #0A56CA;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 42px;
    font-size:24px;
	line-height: 42px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 42px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="text"], input[type="password"], input[type="email"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #464B4F;
	margin-bottom: 0em;
	padding: 0 6px;
	width: 200px;
	font-size:13px;
  	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:500;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #02AEF4;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
  font-size:12px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

#login form input[type="submit"]:hover {
	background-color: #D51E6C;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
  border:1px solid #2542A0;
  padding:25px 0px 25px 0px;
  -webkit-box-shadow: 0 0 5px #282D32;
		-moz-box-shadow: 0 0 5px #282D32;
		box-shadow: 0 0 5px #282D32;
}
.title{
	color:#fff;
	margin-bottom:22px;
	font-size:20px;
	font-family:Helvetica, sans-serif;
	font-style:italic;
}
.btn-span1{
	width:50%; 
	text-align:center;  
	display: inline-block;
}
.btn-span2{
	width:50%; 
	text-align:center;  
	display: inline-block;
}
.msg-sec{
	text-align:left; 
	color:#FFFFFF; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px;
	font-weight:bold;
}
.second{
	font-size:11px;
	padding:3px 4px 4px 4px;
	background:#03256D;
	color:#fff;
	border-radius:10px;
}
.foot{
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-top:5px;
	color:#77A4F1;
}