	[data-wizard-init] {
	margin: auto;
	width: 100%;
	/*overflow:auto;*/
	}
	.container-fluid{
	margin-top:10px;
	padding-right: 20px;
	padding-left: 20px;
	}
	p {
    margin-top: 20px;
    color: #024FCE;
    font-weight: 600;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	.container{
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	table.label, .badge {
        padding: 0px 0px;
		background-color:#FFFFFF;
		font-weight: normal;
	}
	.table1 {
   	 border: 0px solid #D3D3D3;
	}
	span.label, .badge{
		background:#0099C6;
		padding-left:4px;
		padding-right:4px;
		padding-top:1px;
		padding-bottom:1px;
		font-weight:bold;
		color:#b5b5b5;
	}
	span.badge{
		background:#189de8;
		padding-left:6px;
		padding-right:6px;
		padding-top:3px;
		padding-bottom:3px;
		font-weight:bold;
		color:#FFFFFF;
	}
	.table1 td{
		vertical-align:middle;
	}
	.labelprint
	{
		font-weight:normal;
		color:#0B29B9;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10pt;
	}
	.labelbold{
		font-weight:bold;
	}
	.btn-next{
		background:#B90250;
		color:#FFFFFF;
		text-shadow:none;
	}
	.btn-next:hover{
		background:#dd025d;
		color:#FFFFFF;
		text-shadow:none;
	}
	.btn-prev{
		background:#0466B7;
		color:#FFFFFF;
		text-shadow:none;
	}
	.btn-prev:hover{
		background:#047ee2;
		color:#FFFFFF;
		text-shadow:none;
	}
	.final-step, .btn-success{
		background:#298E0D;
		color:#FFFFFF;
		text-shadow:none;
	}
	.final-step:hover, .btn-success:hover{
		background:#2ebc03;
		color:#FFFFFF;
		text-shadow:none;
	}
	.table1 td{
		background:#FFFFFF;
		/*color:#005BB7;*/
	}
	.labelbold{
		color:#00008B;
		font-size: 13px;
	}
	.labeldisplay{
		color:#0000CC;
		font-size: 13px;
	}
	.wiz-icon-arrow-right:before {
		padding-top:8px;
	}
	.wiz-icon-arrow-left::before {
		padding-top:8px;
	}
	.sweet-alert fieldset input[type="text"] {
		display: none;
	}
	.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
		z-index:99999999999999;
	}
	/*padding: 37px 20px 0 38px;*/
	.btn{
	 	padding: 0px 12px;
	 	height: 25px;
		border: 0px solid #ccc;
	}
	#btn_previous1, #btn_next1{
		font-size:12px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-weight:normal;
		cursor:pointer;
	}
	.labelbold{
		color:#005EBB;
	}
	input, textarea, .uneditable-input {

    margin-left: 0;

}
/*input[type="text"] {

    width: 206px;

}*/
input, button, select, textarea {

}
label, input, button, select, textarea {

    font-size: 14px;
    font-weight: normal;
    line-height: 20px;

}
button, input {

    *overflow: visible;
    line-height: normal;

}
button, input, select, textarea {

    margin: 0;
        margin-bottom: 0px;
        margin-left: 0px;
    font-size: 100%;
    vertical-align: middle;

}
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {

    display: inline-block;
    height: 20px;
    padding: 4px 0px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}
select, textarea, input[type="text"] {

    margin-bottom: 1px;
    color: #0000CC;

}
select {

    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;

}
select, input[type="file"] {

    height: 30px;
    *margin-top: 4px;
    line-height: 30px;
	cursor: pointer;

}
input[readonly], select[readonly], textarea[readonly] {

    cursor: not-allowed;
    background-color: #eee;

}
 textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
.label, .badge {

    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    background-color: #999;

}
.bootstrap-dialog-footer-buttons > .btn-default{
	color:#fff;
	background-color:#7A7978;
}
.bootstrap-dialog-footer-buttons > .btn-primary{
	color:#fff;
	background-color:#0579A2;
}
.bootstrap-dialog-footer-buttons >.btn{
	height:35px;
}
.wizard{
	border: 1px solid #D3D6D6;
}
.wizard .steps-content {
    border-top: 1px solid #D3D6D6;
}
.wizard ul.steps{
	background:#ededed;
}